%h2 Score Board
- @score_board.score_cards.each do |c|
  %table
    %tr
      %th Player
      %th Score
      %th Add Points
      %th Remove Points
      %th Action
    %tr
      %td= c.player.name
      %td= c.points
      <!-- rendering a partial template is used with the helper render
      when creating a partial, the naming scheme is similar to action templates
      except the file is preceeded with a underscore
      Example app/score_cards/_form.html.haml -->
      = render 'score_cards/form', :card => c

